body
{
	position:relative;
	margin:0px;
	background:linear-gradient(rgb(15,40,48, .75), rgb(9,28,34, .5)), url(../images/split-rock-sunrise.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: calc(100vh);
}


.container
{
	height: calc(100vh);
	margin: auto !important;
	width:100%;
}

.container-effect
{
	background: #f5f5f5;
	border-radius: 0px;
	max-width: 100%;
}

.container-no-effect
{
	background: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.sidebar
{
	height:calc(100vh);
	position:relative;
	margin:0px;
	background:linear-gradient(rgb(0,0,0, .79), rgb(0,0,0,.88)), url(../images/landscape1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5px rgb(0,0,0, .6);
	overflow-x: hidden;
}


.wrap-sidebar
{
	margin:0;
	padding: 0;
}

.brand h3
{
	color:#fff;
	font-size: 16px;
	line-height: 50px;
	margin:0 20px;
	width:100%;
	border-bottom:1px solid rgb(92,92,92);
	padding-left:55px;
}

.nav{} 

.nav a
{
	text-decoration: none;
	color:rgb(255,255,255, .7);
	font-size: 12px;
	line-height: 35px;
	display: block;
}

.nav a:hover
{
	color:rgb(255,255,255);
	background:rgb(255,255,255, .2);
}

.nav a i
{
	font-size: 18px;
	margin-right: 20px;
	line-height: 35px;
}

.nav a i:nth-child(2)
{
	margin-right: -10px
}


.profile-box
{
	width:41px;
	height: 41px;
	border-radius: 41px;
	border:4px solid rgb(255,255,255, .2);
	margin: 10px
}
.profile-image
{
	width:33px;
	height: 33px;
	border-radius: 33px;
	background: url(../images/default-profile.png) no-repeat;
	background-size:cover;
	background-position: bottom;
}

.user-info h4, .user-info p
{
	padding: 0;
	margin:0;
	color:#fff;
	font-size: 16px;
	margin-top: 10px
}

.user-info p
{
	font-size: 11px;
	margin-top: 2px;
	color:#ccc;
}


.head
{
	background: #fff;
	height: 50px;
	box-shadow: 0 0 3px rgb(0,0,0, .3);
	border-top-right-radius: 0px
}

.head .nav li a
{
	color:#777;
}

.head .nav-item
{
	width:45px;
	text-align: center;
	line-height: 50px;
	padding: 0;
	font-size: 11px
}

.head .nav-item i
{
	font-size: 12px
}



/* -------------------------------------- Dashboard ------------------------------------- */
.wrap-bread-crum
{
	line-height: 50px;
	font-size: 12px
}



/* -------------------------------------- CARD ------------------------------------- */

.mcard
{
	width:100%;
	min-height: 50px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 2px rgb(0,0,0, .2)
}

.card-foot
{
	margin: 0 10px;
	border-top:1px solid rgb(0,0,0, .1);
	line-height: 30px;
	font-size: 11px;
	color: #777
}

.card-body p.pull-right, .card-body h4.pull-right
{
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.card-body h4.pull-right
{
	font-size: 18px
}

.fa-b-card
{
	font-size: 34px;
	float: left;
}

.card-body .nav li
{

}

.card-body .nav li a
{
	color:#555;
	margin:0;
	padding: 0;
	font-size: 12px;
	display: block;
	width: 100%;
}
.card-body .nav li a i
{
	margin-right: 0;
	font-size: 11px
}

.card-body h4
{
	font-size: 14px;
}

.card-body table
{
	width:100% !important
}

.card-body table thead,.card-body table tbody
{
	font-size: 12px
}
.card-body table thead th
{
	border-top:none
}

.card-body table thead th,.card-body table tbody td
{
	font-size: 12px;
}


.card-body .tweet-list
{
	font-size: 12px;
	color:rgb(255, 255, 255, .7);
	border-top:1px dashed rgb(255, 255, 255, .7);
	padding:10px 0;
}

.card-body .tweet-list:first-child
{
	border:none;
}

/* -------------------------------------- Modifier ------------------------------------- */

.dark-card
{
	position:relative;
	background:linear-gradient(rgb(15,40,48, .8), rgb(9,28,34, .9)), url(../images/tab_bg1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.padding-top
{
	padding-top: 20px
}

.no-padding-right
{
	padding-right: 0px
}

/* ------------------ LAYOUT DRAWER ---------------------- */

.sidebar-width
{
	max-width:280px !important;
	position: absolute;
}

.content-width
{
	max-width:calc(100% - 280px) !important;
	width:100% !important;
	margin-left: 280px
}

.fixed-width-250
{
	width:250px !important;
}

.light-headline
{
	
	color: rgb(255, 255, 255) !important
}

/* -------------------------------------- Map ------------------------------------- */

#map
{
	min-height: 200px;
	width:100%;
}

/* -------------------------------------- Call ------------------------------------- */

.make-call
{
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  padding: 0 !important;
  margin-bottom: -10px
}

/* -------------------------------------- Forms ------------------------------------- */
.loginHead
{
	min-height: 200px;
	background:linear-gradient(rgb(15,40,48, .8), rgb(9,28,34, .9)), url(../images/landscape1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
}
.wrap-form
{
	padding: 20px
}


.wrap-form input
{
	border:none;
	border-bottom:1px solid #ccc;
	border-radius:0;
	background: none;
	font-size: 12px
}

.wrap-form input:focus
{
	box-shadow: none;
	background: none
}


/* -------------------------------------- Animation ------------------------------------- */

@keyframes rotating {
  from {

  	}
  to{}
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.sidebar-width
	{
		max-width:75px !important;
		position: absolute;
	}

	.content-width
	{
		max-width:calc(100% - 75px) !important;
		width:100% !important;
		margin-left: 75px
	}

	.fixed-width-250
	{
		width:250px !important;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/* ------------------ LAYOUT DRAWER ---------------------- */

	

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }


