html,body{
	height: 100%;
	width:100%;
	margin: 0;
   	padding: 0;
}

div{
	/*border:1px solid red;*/
}


.app-fluid{
	height:100%; 
}
.orlmy-row-1, .orlmy-row-2, .orlmy-row-3{
  		height:100%;
  		overflow: hidden;
  } 

h4, h5{
	font-size: 16px;
	color: #fff;
}

h5{
	font-size: 14px;
	margin-bottom:0px
}

.navbar{
	height: 60px;
	border-bottom: 1px solid #ccc
}

.pull-right{
	text-align: right;
	line-height: 22px
}

.fixed-right{
	float: right;
	position:relative;
	right:0px;
	margin:10px;
	margin-right:75px;
	width:auto !important;
	display:block;
	 will-change: transform;
}

.fixed-left{
	float: left;
	position:relative;
	left:10px;
	margin:10px;
	margin-left:50px;
	width:auto !important;
	display: flex; 
	will-change: transform;
}

.media-right,.media-left{
	top:0;
	position:absolute;
}

.media-right{
	right:0;
}

.media-left{
	left:0;
}

.media img{
	width:45px;
	height:45px;
}

.popover{
	width:auto;
	max-width:400px;
	font-size: 12px;
}

.bs-popover-left{
	background: #fff;
	border:none;
	box-shadow: 0 0 1px #ccc;
}
.bs-popover-right{
	background: #e5e6ee;
	border:none;
	box-shadow: 0 0 1px #777;
}

.bs-popover-right .arrow:after {
  border-right-color: #e5e6ee;
}

.bs-popover-left .arrow:after {
  border-left-color: #fff !important;
}

.bs-popover-left .popover-body{
	color:#444 !important;
}

.bs-popover-right .popover-body{
	color:#444 !important;
}

.chat-stream{
	padding-top: 20px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	min-height: 690px
}

.chat-stream-wrap{
	min-height: 0;
	width:100%;
}

.chat-row, .row-left{
    position:relative;

}

.row-left div{
	display: inline-block;
}

.text-area-wrap{
	height: 90px;
	background: #f5f5f5;
	border-top: 1px solid #ccc;
}

.chat-input{
	padding-left:50px;
	padding-right:20px;
	margin-top: 20px;
	width:93%;
	height:40px;

}

.chat-input:focus{
	outline: none;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.no-padding
{
	padding:0;
}

.search-wrap{

}

.btn-section-1{
	float: right;
	margin-top: 20px;
	margin-bottom: -40px
}

.btn-section-2{
	position:relative;
	float:left;
	margin-top: -39px;
	width:125px;
	height:38px;
	margin-left: 1px;
	background:#fff;
	border-radius:5px;
	border-right:1px solid #ccc;
}

.btn-section-2 button{
	float:left;
}

.btn-input button{
	height: 38px;
	background: none;
	border:0;
	cursor: pointer;
	color:#888;
}

.btn-section-2{
	width:40px;
}
.btn-input button:nth-child(2), .btn-input button:nth-child(3){
	display: none
}


/* -------------------- ROW STYLES ---------------------------- */

.orlmy-row-1{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: #512386; /* Old browsers */
background: -moz-linear-gradient(top, #512386 0%, #0f125c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #512386 0%,#0f125c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #512386 0%,#0f125c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512386', endColorstr='#0f125c',GradientType=0 ); /* IE6-9 */
}

.light-gradient{
	background: #fffbff; /* Old browsers */
	background: -moz-linear-gradient(top, #fffbff 0%, #eae4ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fffbff 0%, #eae4ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fffbff 0%, #eae4ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbff', endColorstr='#eae4ee', GradientType=0 ); /* IE6-9 */
}

.orlmy-row-2{
	background:#f3f4f9;
}

.orlmy-row-icon{
	position: relative;
	display: inline-block;
	padding: 10px
}

.orlmy-row-icon i{
	width:18%;
	text-align: center;
	color: #9e70d6;
	cursor: pointer;
}

.orlmy-row-icon i:hover{
	color:#fff;
}

.chat-stream-header{
	width:100%;
	background:#fff;
	min-height: 70px;
	margin-top: 0 !important;
	box-shadow: 10px 10px 60px #ccc
}


/* ------------------ LIST STYLES -------------------------------- */

.chat-recent-contacts{
	background:none;
}

.chat-recent-contacts .list-group-item{
	background: none;
	border:none;
	cursor: pointer;
}

.chat-recent-contacts .list-group-item .media-body strong{
	color:rgb(255,255,255);
}

.chat-recent-contacts .list-group-item .media-body .smaller{
	color:#9488b4 !important;
}

.chat-recent-contacts .list-group-item .badge{
	color:#9478b9  !important;
}
.chat-recent-contacts .list-group-item .badge .badge-light {
	color:#fff  !important;
	background:#78ba5f 
}

/* ---------------- CIRCLE STYLES --------------------- */

.orlmy-caption {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background: #4f2284
}

.orlmy-caption::after {
  content: "";
  background: url(http://localhost/projects/nodejs/chat_1/assets/images/chat/user-1.png);
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; 
  background-size: cover;
  background-position: top; 
}

.orlmy-caption h4{
	font-size: 16px;
	color: #fff;
	margin-top: 20px
}
.orlmy-caption span{
	font-size: 14px;
	color: #9e70d6;
}

.align-horizontal-center{
	display: inline-block;
}

.circle-1{
	width: 11vw;
  	height: 11vw;
  	border-radius: 100%;
  	text-align: center;
  	background: #532d83;
  	text-align: center;
}

.circle-2{
	width: 8vw;
  	height: 8vw;
  	border-radius: 100%;
  	text-align: center;
  	background: #5b3c81;
  	margin:1.5vw;
}

.circle-3{
	width: 6vw;
  	height: 6vw;
  	border-radius: 100%;
  	text-align: center;
  	background: #604482;
  	margin:1vw;
}


.circle-3 img{
	width: 6vw;
  	height: 6vw;
  	border-radius: 100%;
  	box-shadow: 0 0 10px #999
}


/* ----------------------  class="orlmy-row-d" --------------- */

.orlmy-row-d, .orlmy-row-l{
	font-size: 14px;
	position: relative;
	padding:7px 20px;
	width: 100%
}

.orlmy-row-d div{
	display: inline-block;
}

.orlmy-row-d div:nth-child(2){
	float:right;
}

.orlmy-row-l i{
	margin-right: 15px;
	color:#78ba5f;
}

/* --------------------- MEDIA QUERIES -------------------- */
.container-fluid{
	margin: 0;
	box-shadow: 20px 20px 60px #9182a7;
}

.istyping{
	font-size: 12px;
	color:#777;
	padding-bottom:10px;
	display: none;
}

xmp{
	font-family: arial, sans-serifs, arial narrow;
width:420px; 
min-height:15px; 
height:auto!important; 
color:#666; padding: 1%; 
font-size: 14px; 
font-weight: normal;
word-wrap: break-word; 
text-align: left
}

/* //////////////////////////// General Login/Signup style ////////////////////////////////// */


.bg-gradient{
	background: rgba(62,37,79,1);
	background: -moz-linear-gradient(left, rgba(62,37,79,1) 0%, rgba(93,57,119,1) 49%, rgba(86,52,110,1) 68%, rgba(74,44,96,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,37,79,1)), color-stop(49%, rgba(93,57,119,1)), color-stop(68%, rgba(86,52,110,1)), color-stop(100%, rgba(74,44,96,1)));
	background: -webkit-linear-gradient(left, rgba(62,37,79,1) 0%, rgba(93,57,119,1) 49%, rgba(86,52,110,1) 68%, rgba(74,44,96,1) 100%);
	background: -o-linear-gradient(left, rgba(62,37,79,1) 0%, rgba(93,57,119,1) 49%, rgba(86,52,110,1) 68%, rgba(74,44,96,1) 100%);
	background: -ms-linear-gradient(left, rgba(62,37,79,1) 0%, rgba(93,57,119,1) 49%, rgba(86,52,110,1) 68%, rgba(74,44,96,1) 100%);
	background: linear-gradient(to right, rgba(62,37,79,1) 0%, rgba(93,57,119,1) 49%, rgba(86,52,110,1) 68%, rgba(74,44,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e254f', endColorstr='#4a2c60', GradientType=1 );
}

.orlmy-1-fluid{
	margin:10% 10% !important;
	border-radius:5px;
	width:80% !important;
	overflow-y: hidden;
	background: #fff;
	box-shadow: 0 0 6px #35184d !important;
}

/* ---------------------- MOBILE LOGIN LAYOUT ---------------------------- */

  	.orlmy-1-fluid > .row > div:nth-child(1){
  		min-height: 300px;

  	}

  	.orlmy-1-fluid > .row > div:nth-child(2){
  		min-height: 250px;
  	}
  	.orlmy-1-fluid > .row > div:nth-child(2) > div:nth-child(1){
  		text-align: center;
  		color: #fff;
  		font-size: 24px;
  		margin-top: 20%;
  	}

  	.orlmy-1-fluid > .row > div:nth-child(2) > div:nth-child(2){
  		text-align: center;
  		color: #fff;
  		font-size: 14px;
  		margin-top: 0;
  	}

  	.orlmy-1-fluid > .row > div > div:nth-child(1){
  		font-size: 12px;
  		padding: 10px 0;
  	}
  	.orlmy-1-fluid > .row > div > div:nth-child(1) i{
  		color:green;
  	}
  	.orlmy-1-fluid > .row > div > div:nth-child(2){
  		font-size: 22px;
  		text-align: center;
  		margin-top: 20%;
  	}

  	.orlmy-1-fluid > .row > div > div:nth-child(3){
  		margin:0 13%;
  		margin-top: 25px
  	}

  	.orlmy-1-fluid > .row > div > div:nth-child(3) input{
  		border:none;
  		border-bottom: 1px solid #ccc;
  		margin-top: 10px;
  		background:none;
  		font-size: 14px;
  		width: 100%;
  		height: 40px;
  	}
  	.orlmy-1-fluid > .row > div > div:nth-child(4){
  		margin-top: 20%
  	}

  	.orlmy-1-fluid > .row > div > div:nth-child(4) input{
  		background:#593774;
  		padding:10px 20px;
  		color: #fff;
  		border:none;
  		margin-left:30%;
  	}
  	.orlmy-1-fluid > .row > div > div:nth-child(4) input:hover{
  		background:#b24abb;
  	}

  	.orlmy-1-fluid > .row > div > div:nth-child(5){
  		margin: 20% 0;
  	}



@media only screen and (max-width: 480px) {
	body{
		overflow-x: hidden;
		width: 100%;
		height: 100%;		
	}

	.no-scroll{
		overflow-y: normal;
	}

	.container-fluid{
		box-shadow: none;
		margin:0;
		width: 100%;
	}
  	.orlmy-row-1, .orlmy-row-2, .orlmy-row-3{
  		position: absolute;
  		top: 0;
  		height:100%;
  		overflow: hidden;
  		overflow-y: scroll
  	} 
  	.orlmy-row-1{
  		z-index: 0;
  	}
  	.orlmy-row-2{
  		z-index: -1;
  	}
  	
  	.orlmy-row-3{
  		z-index: -2;
  	}
  		
} 




@media only screen and (max-width: 800px){
	.no-scroll{
		overflow:hidden;
	}
	
}

@media only screen and (min-width: 800px){
	.no-scroll{
		overflow:hidden;
	}
}