@import url(//fonts.googleapis.com/css?family=Open+Sans);
/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

body, .container-fluid, .orlmy-frame
{
	height: 100vh;
	font-family: 'Dosis', 'Open Sans', sans-serif;
}

.container-fluid .orlmy-frame:first-child
{
	background:url(../images/bg_2.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}

.container-fluid .orlmy-frame:last-child
{
	background: #f2f4f8;
	box-shadow: 0 0 50px #000
}

.form-wrap
{
	padding:50px;	
	margin-top: 15%
}

.form-wrap h4
{
	font-size: 34px;
	text-align: center;
	color: #253c4d
}

.form-wrap p
{
	font-size: 14px;
	text-align: center;
}

.form-control-wrap
{
	padding:0 50px;
}

.form-control-wrap input
{
	margin:20px 0;
	border:none;
	border-bottom:1px solid #ccc;
	border-radius: 0;
	background: none;
	box-shadow: none;
	outline: none !important;
}

.form-control:focus
{
	outline: 0 !important;
	box-shadow: none
}

.persist
{
	text-align: center;
	font-size: 14px
}

.button-wrap
{
	padding:20px;
}

.button-wrap input
{
	margin-left:27%;
	height: 45px;
	background: #047bf8;
	color:#fff;
	border:none;
	padding: 5px 40px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  	transition: all 0.3s ease-in-out;
  	position: relative;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold

}

.button-wrap input:before
{
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 15px 0px rgba(26,32,38,0.1);
	-webkit-box-shadow: 0px 5px 45px 0px rgba(12,78,150,0.31),0px 3px 7px 0px rgba(12,76,140,0.14);
    box-shadow: rgba(12, 76, 150, 0.31) 0px 5px 45px 0px, rgba(12, 76, 140, 0.16) 0px 3px 7px 0px;
	box-shadow: 0px 5px 45px 0px rgba(12,76,140,0.21),0px 3px 7px 0px rgba(12,76,150,0.16);
    transition: opacity 0.3s ease-in-out;
}

/* Scale up the box */
.button-wrap input:hover {
  transform: scale(1.01, 1.02);
}

/* Fade in the pseudo-element with the bigger shadow */
.button-wrap input:hover::before {
  opacity: 1;
}


/* ------------------ PANE INFORMATION ------------------------- */
.page-wrap
{
	position: relative;
	left:10%;
	right:10%;
	top:50%;
}

.page-wrap:after
{
	content: 'Orlmy';
	font-size: 155px;
	color:#fff;
	opacity: 0.05;
	position: absolute;
	top: -40px;
	z-index: -2px;
}

.page-wrap h2
{
	color:#fff;
	font-size: 52px
}

.sub-title
{
	color:#fff;
	font-size: 32px
}

.sub-description
{
	color:#80a1b9;
	font-size: 14px;
}

.page-wrap button
{
	color:#fff;
	font-size: 16px;
	padding: 10px 40px;
	color:#253c4d;
	margin-top: 15px;
	border-radius: 2px;
	border:none;
	box-shadow: 0 0 20px #000
}
@media only screen and (max-width: 768px) { /* Tablet Web - Landscape  */

	body, .container-fluid, .orlmy-frame
	{
		height: auto;
	}
	.container-fluid .orlmy-frame:first-child
	{
		padding-bottom: 60px
	}
	.container-fluid .orlmy-frame:last-child
	{
		padding-bottom: 30px
	}

	.page-wrap
	{
		margin-top: 65px;
	}
}

@media only screen and (max-width: 990px) { /* Tablet Web - Landscape  */


}

@media only screen and (max-width: 1400px) { /* Tablet Web - Landscape  */

	.form-wrap
	{
		padding:20px;	
		margin-top: 15%
	}
	.form-control-wrap
	{
		padding:0 20px;
	}
	.button-wrap input
	{
		margin-left:22%;
	}

}
