@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Dosis');

body
{
	font-family: 'Dosis', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
}

.captionx{
	min-height:150px;
	margin: 0;
	padding:0;
	background-size: cover;
	margin-bottom: 20px
}

.nav_1
{
	margin-bottom: -1px;
	border-top:2px solid #444;
	border-radius: 0
}

.nav_1 .navbar-nav li a
{
	/*color:#fff;*/
}



.position-relative
{
	position:relative;
	z-index:-3;
	margin:0px;
	background:url(../images/347323.jpg) no-repeat;
	background-position: center;
	box-shadow: 0 0 30px #555 inset;
	min-height: 350px;
}

.position_1
{
	background:url(../images/Landscape-1920x1080-Mobile-Wallpapers.jpg) no-repeat;
	background-position:bottom;
}

.contentx
{
	margin-top: -80px !important;
	background:#fff;
	margin-left: 10%;
	margin-right: 10%;
	width:80%;
	min-height: 400px;
	padding:20px;
	margin-bottom: 10px
}

.contentx_1
{
	/*margin-top: -80px !important;*/
	background:#fff;
	margin-left: 10%;
	margin-right: 10%;
	width:80%;
	min-height: 400px;
	padding:20px;
	margin-bottom: 10px
}

.contentx p
{
	font-size: 18px !important;
}

.contentx p span
{
	color:#1e5799;
}
.contentx article
{
	text-align: justify;
	font-size: 20px;
	line-height: 34px
}

.reference-title
{
	color:#f90;
	font-size: 24px
}

.reference-text
{
	font-size: 24px;
	color:#1e5799;
}

.reference-text span
{
	font-size: 44px;
	font-weight: bold;
	color: #7db9e8
}

.reference-hymn p
{
	font-size: 22px !important;
	padding:0px !important;
	margin:0 !important;
}

.insight-caption
{
	padding: 20px;
	background: #C3DDE0;
	line-height: 32px;
	font-size: 22px
}

.insight-caption span
{
	font-size: 18px
}

/* ---------------------------- FOOTER ---------------------------------- */

footer
{
	min-height: 300px;
	background:#444;
	color:#fff;
	padding-top: 40px
}

footer h5
{
	font-size: 22px
}

footer li a
{
	line-height: 30px;
	color:#f3f3f3 !important;
	display: block;
}

footer li a:hover
{
	color: #ccc !important;
	text-decoration: none
}

/* ------------------ SLIDESHOW ----------------------------*/

.carousel
{
	margin-top: 30px;
	border:13px solid #f7f7f7;
}

.item
{
	min-height: 80px
}

.outline
{
	border:1px solid #ccc;
	background: #222;
	color:#fff;
	padding: 10px 30px;
	text-transform: uppercase;
}

.social-connect
{
	padding-top: 30px
}

.social-connect span
{
	border:1px solid #ccc;
	padding:10px 15px;
	border-radius: 20px;
	color: #777;
	cursor: pointer;
}

.social-connect span:hover
{
	color: #fff;
	background: #444;
	border:1px solid #222;
}

.get-intouch
{

}

.image > img
{
	
}


.mobile-nav
{
	display: none;
}

@media(max-width: 480px)
{
	.image > img
	{
		/*max-width: 300px;
		margin-left: -70px*/
		margin:40px auto !important;
	}

	.none-mobile-nav
	{
		display: none;
	}
	.mobile-nav
	{
		display: block;
	}
}

@media(max-width: 818px)
{
	.image > img
	{
		/*max-width: 600px;
		margin-left: -70px*/
	}
}