@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Dosis');

body
{
	font-family: 'Dosis', sans-serif;
	font-family: 'Alegreya Sans', sans-serif;
	background: #fff;
}

.navbar{
	margin-bottom: -50px;
	background:transparent !important;
	z-index: 9
}

.navbar-brand{
	color:#1594ff !important;
}

.position-relative
{
	position:relative;
	margin:0px;
	background-size: cover;
	background-position: center;
	min-height: calc(100vh);
	margin-top: 0px !important;
	margin-top: -40px;
	border:none;
	background: rgba(8,15,43,.7); 
	background:linear-gradient(rgb(91, 169, 229, .7), rgb(0,0,0,.75)), url(../../assets/images/bg.jpg) no-repeat;
	background:-webkit-linear-gradient(rgba(15, 11, 20, .7), rgba(0,0,0,.75)), url(../../assets/images/bg.jpg) no-repeat; 
	background-position:center;
	background-size:cover
}

.panes,.vh-10
{
	height:calc(70vh);
}

 .minipanes
{
	height:calc(40vh);
	min-height: calc(40vh)!important;
}

.vh-10
{
	height:calc(10vh) !important;
}

.vh-0
{
	min-height:calc(0vh) !important;
}

.slide-desc-wrap{
	
	color:#fff;
	margin-top: 15%
}

.slide-desc-wrap img{
	width:100px;
	height: auto;
}

.slide-desc-wrap h2
{
	color:#fff;
	font-size: 7.2em;
	text-shadow: 0 0 100px #000;
}

.slide-desc-wrap a{
	padding:20px 30px;
	background: #FFD12D;
	border-radius: 50px;
	color:#222;
	line-height: 50px;
}

.slide-desc-wrap p{
	margin-bottom: 50px;
	font-size: 34px;
}


/* --------------------------------- DRAWER ----------------------------------- */

.drawer{
	max-width:500px;
	min-width:400px;
	height:100%;
	background: #000;
	position: fixed;
	z-index: 99999999;
	right: -600px;
	top:0;

}

.drawer > .header{
	width:100%;
	height: 55px;
	background: #FFD12D;
}

.drawer > .header h4{
	line-height: 55px;
	padding-left:20px;
	font-size: 30px;
	margin:0;
}

.navbar-right .showDrawer a{
	color:white;
}

.navbar-right .showDrawer a:hover{
	color:#FFD12D;
	background:none;
	font-size:18px;
}

.drawer > .header .exit{
	float: right;
	width:55px;
	height: 55px;
	background: #444;
	color:#FFD12D;
	line-height: 55px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}

.content {
	width: 100%;
	overflow:hidden;
	height: calc(100% - 55px);
}
.content  ol{
	margin:30px 20px;
	list-style: none;
}

.content  ol li{
	font-size: 20px;
	color:#FFD12D;
	line-height: 40px
}

.content  ol li a{
	color:#FFD12D;
	display: block;
	text-decoration: none;
}

.content  ol li a:hover{
	color:white;
}


/* --------------------------------- RESPONSIVE ------------------------------- */
@media(max-width: 818px)
{
	
}

@media(max-width: 480px)
{
	
}

